table, th, td {
	border: 1px solid black;
}

th, td {
	padding: 5px;
	
}

.number{
	text-align:center;
}

.total{
	font-weight:bold;
}

table{
	border-collapse: collapse;
}

body {
	background-image:url('/style/homeimg.jpg');
	background-color:#FFFFFF;
	background-position: right bottom;
	background-repeat: no-repeat;
}

.winner_box{
	font-size:150%;
	border: 0px double #00FF00;
	width: auto;
	display: inline-block;
	background-color: #00FF00;
}