<html>
<head>
	<title> Healthy Habits </title>
	<link rel="shortcut icon" href="/style/favi.ico" />
	<link rel="stylesheet" type="text/css" href="/style/home.css" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
	<h2> Hello, {{ uname }}! </h2>
	<p> Welcome to the Healthy Habits competition of the Hess family!</p>
	<br>
	
	<b><div> Current Leader: <span class="winning"></span> </div></b>
		
	<br>
	<br>
	
	<table>
		<tr>
			<th>  Name </th>
			<th>  Monday </th>
			<th>  Tuesday </th>
			<th>  Wednesday </th>
			<th>  Thursday </th>
			<th>  Friday </th>
			<th>  Saturday </th>
			<th>  Running Total </th>
		</tr>
		{% for user in users %}
		<tr class="person_info">
			<td class="name"> {{ user.name }} </td>
			<td class="number"> {{ user.mon }} </td>
			<td class="number"> {{ user.tues }} </td>
			<td class="number"> {{ user.wed }} </td>
			<td class="number"> {{ user.thurs }} </td>
			<td class="number"> {{ user.fri }} </td>
			<td class="number"> {{ user.sat }} </td>
			<td class = "total number"> {{ user.total }} </td>
		</tr>
		{% endfor %}
	</table>
	<br>
	<br>
			
	<form>
		<input type = "button" onClick = "parent.location='submit'" value = 'Record'>
	</form>
	<input type="button" onClick="getRandomPerson()" value="Winner!" />
	<div class="winner_box"></div>
	<script src="/js/leader.js" type="text/javascript"></script>
	<script src="/js/random.js" type="text/javascript"></script>
</body>
</html>