<html>
<head>
	<title> Healthy Habits </title>
	<link rel="stylesheet" type="text/css" href="/style/home.css" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="/js/leader.js" type="text/javascript"></script>
</head>
<body>
	<h2> Hello, {{ uname }}! </h2>
	<p> Welcome to the Healthy Habits competition of the Hess family!</p>
	<br>
	
	<b><div> Current Leader: <span class="winning"></span> </div></b>
		
	<br>
	<br>
	
	<table>
		<tr>
			<th>  Name </th>
			<th>  Monday </th>
			<th>  Tuesday </th>
			<th>  Wednesday </th>
			<th>  Thursday </th>
			<th>  Friday </th>
			<th>  Saturday </th>
			<th>  Running Total </th>
		</tr>
		{% for user in users %}
		<tr>
			<td> {{ name }}	</td>
			<td> {{ mon }} </td>
			<td> {{ tues }} </td>
			<td> {{ wed }} </td>
			<td> {{ thurs }} </td>
			<td> {{ fri }} </td>
			<td> {{ sat }} </td>
			<td class = "total"> {{ total }} </td>
		</tr>
		{% endfor %}
	</table>
	<br>
	<br>
			
	<form>
		<input type = "button" onClick = "parent.location='submit'" value = 'Submit'>
	</form>
</body>
</html>