<html>
<head>
</head>
<body>
	<div class = 'monrec'>
		<h3> Monday </h3>
		<form>
			<input type="checkbox" name="habit" value="sleepAmount"> In bed 7-9 hours last night <br>
			<input type="checkbox" name="habit" value="sleepTimes"> In bed by 11:00 PM, out by 8:00 AM <br>
			<input type="checkbox" name="habit" value="nap"> Napping 45 minutes max unless sick <br>
			<input type="checkbox" name="habit" value="exercise"> Moderate exercise 30 or more minutes <br>
			<input type="checkbox" name="habit" value="veggies"> 5 fruits or vegetables, with at least 2 vegatables <br>
			<input type="checkbox" name="habit" value="healthyMeals"> Three healthy meals <br>
			<input type="checkbox" name="habit" value="mealTimes"> Meals eaten at reasonable times <br>
			<input type="checkbox" name="habit" value="junkFood">I have a car<br>
			<input type="checkbox" name="habit" value="relax">I have a car<br>
			<input type="checkbox" name="habit" value="water">I have a car<br>
		</form>
	</div>
</body>
</html>