<html>
<head>
	<link rel="stylesheet" type="text/css" href="/style/submit.css" />
</head>
<body>
	<div class = 'categories'>
		<p>In bed 7-9 hours last night</p>
		<p>In bed by 11:00 PM, out by 8:00 AM</p>
		<p>Napping max 45 minutes unless sick</P>
		<p>Moderate exercise 30 or more minutes</p>
		<p>5 fruits or vegetables a day, at least 2 vegetables</p>
		<p>Three healthy meals</p>
		<p>Meals eaten at reasonable times</p>
		<p>No more than 1 serving junk food</p>
		<p>Relaxed 1 hour before bedtime</p>
		<p>Drank 48 OZ (6 cups) of water</p>
	</div>
	<div class = 'monrec day'>
		<h3> Monday </h3>
		<form>
			<input type="checkbox" name="habit" value="sleepAmount"><br>
			<input type="checkbox" name="habit" value="sleepTimes"><br>
			<input type="checkbox" name="habit" value="nap"><br>
			<input type="checkbox" name="habit" value="exercise"><br>
			<input type="checkbox" name="habit" value="veggies"><br>
			<input type="checkbox" name="habit" value="healthyMeals"><br>
			<input type="checkbox" name="habit" value="mealTimes"><br>
			<input type="checkbox" name="habit" value="junkFood"><br>
			<input type="checkbox" name="habit" value="relax"><br>
			<input type="checkbox" name="habit" value="water"><br>
			<br>
			<br>
			<input type = "button" value = 'Submit'>
		</form>
	</div>
	<div class = 'tuesrec day'>
		<h3> Tuesday </h3>
		<form>
			<input type="checkbox" name="habit" value="sleepAmount"><br>
			<input type="checkbox" name="habit" value="sleepTimes"><br>
			<input type="checkbox" name="habit" value="nap"><br>
			<input type="checkbox" name="habit" value="exercise"><br>
			<input type="checkbox" name="habit" value="veggies"><br>
			<input type="checkbox" name="habit" value="healthyMeals"><br>
			<input type="checkbox" name="habit" value="mealTimes"><br>
			<input type="checkbox" name="habit" value="junkFood"><br>
			<input type="checkbox" name="habit" value="relax"><br>
			<input type="checkbox" name="habit" value="water"><br>
			<br>
			<br>
			<input type = "button" value = 'Submit'>
		</form>
	</div>
	<div class = 'wedrec day'>
		<h3> Wednesday </h3>
		<form>
			<input type="checkbox" name="habit" value="sleepAmount"><br>
			<input type="checkbox" name="habit" value="sleepTimes"><br>
			<input type="checkbox" name="habit" value="nap"><br>
			<input type="checkbox" name="habit" value="exercise"><br>
			<input type="checkbox" name="habit" value="veggies"><br>
			<input type="checkbox" name="habit" value="healthyMeals"><br>
			<input type="checkbox" name="habit" value="mealTimes"><br>
			<input type="checkbox" name="habit" value="junkFood"><br>
			<input type="checkbox" name="habit" value="relax"><br>
			<input type="checkbox" name="habit" value="water"><br>
			<br>
			<br>
			<input type = "button" value = 'Submit'>
		</form>
	</div>
	<div class = 'thursrec day'>
		<h3> Thursday </h3>
		<form>
			<input type="checkbox" name="habit" value="sleepAmount"><br>
			<input type="checkbox" name="habit" value="sleepTimes"><br>
			<input type="checkbox" name="habit" value="nap"><br>
			<input type="checkbox" name="habit" value="exercise"><br>
			<input type="checkbox" name="habit" value="veggies"><br>
			<input type="checkbox" name="habit" value="healthyMeals"><br>
			<input type="checkbox" name="habit" value="mealTimes"><br>
			<input type="checkbox" name="habit" value="junkFood"><br>
			<input type="checkbox" name="habit" value="relax"><br>
			<input type="checkbox" name="habit" value="water"><br>
			<br>
			<br>
			<input type = "button" value = 'Submit'>
		</form>
	</div>
		<div class = 'frirec day'>
		<h3> Friday </h3>
		<form>
			<input type="checkbox" name="habit" value="sleepAmount"><br>
			<input type="checkbox" name="habit" value="sleepTimes"><br>
			<input type="checkbox" name="habit" value="nap"><br>
			<input type="checkbox" name="habit" value="exercise"><br>
			<input type="checkbox" name="habit" value="veggies"><br>
			<input type="checkbox" name="habit" value="healthyMeals"><br>
			<input type="checkbox" name="habit" value="mealTimes"><br>
			<input type="checkbox" name="habit" value="junkFood"><br>
			<input type="checkbox" name="habit" value="relax"><br>
			<input type="checkbox" name="habit" value="water"><br>
			<br>
			<br>
			<input type = "button" value = 'Submit'>

		</form>
	</div>
	<div class = 'satrec day'>
		<h3> Saturday </h3>
		<form>
			<input type="checkbox" name="habit" value="sleepAmount"><br>
			<input type="checkbox" name="habit" value="sleepTimes"><br>
			<input type="checkbox" name="habit" value="nap"><br>
			<input type="checkbox" name="habit" value="exercise"><br>
			<input type="checkbox" name="habit" value="veggies"><br>
			<input type="checkbox" name="habit" value="healthyMeals"><br>
			<input type="checkbox" name="habit" value="mealTimes"><br>
			<input type="checkbox" name="habit" value="junkFood"><br>
			<input type="checkbox" name="habit" value="relax"><br>
			<input type="checkbox" name="habit" value="water"><br>
			<br>
			<br>
			<input type = "button" value = 'Submit'>
		</form>
	</div>

</body>
</html>