<html>
<head>
	<link rel="stylesheet" type="text/css" href="/style/submit.css" />
	<title> Submit </title>
</head>
<body>
	<h2> Submit Your Habits </h2>
	<div class = 'categories'>
		<p>In bed 7-9 hours last night</p>
		<p>In bed by 11:00 PM, out by 8:00 AM</p>
		<p>Napping max 45 minutes unless sick</P>
		<p>Moderate exercise 30 or more minutes</p>
		<p>5 fruits or vegetables a day, at least 2 vegetables</p>
		<p>Three healthy meals</p>
		<p>Meals eaten at reasonable times</p>
		<p>No more than 1 serving junk food</p>
		<p>Relaxed 1 hour before bedtime</p>
		<p>Drank 48 OZ (6 cups) of water</p>
	</div>
	<div class = 'monrec day'>
		<h3> Monday </h3>
		<form action method = "POST">
			<input type="checkbox" name="sleepAmount" value="true"><br>
			<input type="checkbox" name="sleepTimes" value="true"><br>
			<input type="checkbox" name="nap" value="true"><br>
			<input type="checkbox" name="exercise" value="true"><br>
			<input type="checkbox" name="veggies" value="true"><br>
			<input type="checkbox" name="healthyMeals" value="true"><br>
			<input type="checkbox" name="mealTimes" value="true"><br>
			<input type="checkbox" name="junkFood" value="true"><br>
			<input type="checkbox" name="relax" value="true"><br>
			<input type="checkbox" name="water" value="true"><br>
			<input type="hidden" name="day" value="mon"><br>
			<br>
			<br>
			<input type = "submit" value = 'Submit'>
		</form>
	</div>
	<div class = 'tuesrec day'>
		<h3> Tuesday </h3>
		<form action method = "POST">
			<input type="checkbox" name="sleepAmount" value="true"><br>
			<input type="checkbox" name="sleepTimes" value="true"><br>
			<input type="checkbox" name="nap" value="true"><br>
			<input type="checkbox" name="exercise" value="true"><br>
			<input type="checkbox" name="veggies" value="true"><br>
			<input type="checkbox" name="healthyMeals" value="true"><br>
			<input type="checkbox" name="mealTimes" value="true"><br>
			<input type="checkbox" name="junkFood" value="true"><br>
			<input type="checkbox" name="relax" value="true"><br>
			<input type="checkbox" name="water" value="true"><br>
			<input type="hidden" name="day" value="tues"><br>
			<br>
			<br>
			<input type = "submit" value = 'Submit'>
		</form>
	</div>
	<div class = 'wedrec day'>
		<h3> Wednesday </h3>
		<form action method = "POST">
			<input type="checkbox" name="sleepAmount" value="true"><br>
			<input type="checkbox" name="sleepTimes" value="true"><br>
			<input type="checkbox" name="nap" value="true"><br>
			<input type="checkbox" name="exercise" value="true"><br>
			<input type="checkbox" name="veggies" value="true"><br>
			<input type="checkbox" name="healthyMeals" value="true"><br>
			<input type="checkbox" name="mealTimes" value="true"><br>
			<input type="checkbox" name="junkFood" value="true"><br>
			<input type="checkbox" name="relax" value="true"><br>
			<input type="checkbox" name="water" value="true"><br>
			<input type="hidden" name="day" value="wed"><br>
			<br>
			<br>
			<input type = "submit" value = 'Submit'>
		</form>
	</div>
	<div class = 'thursrec day'>
		<h3> Thursday </h3>
		<form action method = "POST">
			<input type="checkbox" name="sleepAmount" value="true"><br>
			<input type="checkbox" name="sleepTimes" value="true"><br>
			<input type="checkbox" name="nap" value="true"><br>
			<input type="checkbox" name="exercise" value="true"><br>
			<input type="checkbox" name="veggies" value="true"><br>
			<input type="checkbox" name="healthyMeals" value="true"><br>
			<input type="checkbox" name="mealTimes" value="true"><br>
			<input type="checkbox" name="junkFood" value="true"><br>
			<input type="checkbox" name="relax" value="true"><br>
			<input type="checkbox" name="water" value="true"><br>
			<input type="hidden" name="day" value="thurs"><br>
			<br>
			<br>
			<input type = "submit" value = 'Submit'>
		</form>
	</div>
		<div class = 'frirec day'>
		<h3> Friday </h3>
		<form action method = "POST">
			<input type="checkbox" name="sleepAmount" value="true"><br>
			<input type="checkbox" name="sleepTimes" value="true"><br>
			<input type="checkbox" name="nap" value="true"><br>
			<input type="checkbox" name="exercise" value="true"><br>
			<input type="checkbox" name="veggies" value="true"><br>
			<input type="checkbox" name="healthyMeals" value="true"><br>
			<input type="checkbox" name="mealTimes" value="true"><br>
			<input type="checkbox" name="junkFood" value="true"><br>
			<input type="checkbox" name="relax" value="true"><br>
			<input type="checkbox" name="water" value="true"><br>
			<input type="hidden" name="day" value="fri"><br>
			<br>
			<br>
			<input type = "submit" value = 'Submit'>

		</form>
	</div>
	<div class = 'satrec day'>
		<h3> Saturday </h3>
		<form action method = "POST">
			<input type="checkbox" name="sleepAmount" value="true"><br>
			<input type="checkbox" name="sleepTimes" value="true"><br>
			<input type="checkbox" name="nap" value="true"><br>
			<input type="checkbox" name="exercise" value="true"><br>
			<input type="checkbox" name="veggies" value="true"><br>
			<input type="checkbox" name="healthyMeals" value="true"><br>
			<input type="checkbox" name="mealTimes" value="true"><br>
			<input type="checkbox" name="junkFood" value="true"><br>
			<input type="checkbox" name="relax" value="true"><br>
			<input type="checkbox" name="water" value="true"><br>
			<input type="hidden" name="day" value="sat"><br>
			<br>
			<br>	
			<input type = "submit" value = 'Submit'>
		</form>
	</div>

</body>
</html>